---
# https://github.com/ycm-core/YouCompleteMe/wiki/Building-Vim-from-source
- name: Install prerequisite libraries
  apt:
      name:
          - libncurses5-dev
          - libgnome2-dev
          - libgnomeui-dev
          - libgtk2.0-dev
          - libatk1.0-dev
          - libbonoboui2-dev
          - libcairo2-dev
          - libx11-dev
          - libxpm-dev
          - libxt-dev
          - python-dev
          - python3-dev
          - ruby-dev
          - lua5.1
          - liblua5.1-dev
          - libperl-dev
          - git
      state: present
- name: Remove vim if you have it already.
  apt:
      name:
          - vim
          - vim-runtime
          - gvim
      state: absent
- name: Clone and build vim
  shell: |
      cd ~
      git clone https://github.com/vim/vim.git
      cd vim
      ./configure --with-features=huge \
      --enable-multibyte \
      --enable-rubyinterp=yes \
      --enable-pythoninterp=yes \
      --with-python-config-dir=/usr/lib/python2.7/config-x86_64-linux-gnu \
      --enable-python3interp=yes \
      --with-python3-config-dir=/usr/lib/python3.5/config-3.5m-x86_64-linux-gnu \
      --enable-perlinterp=yes \
      --enable-luainterp=yes \
      --enable-gui=gtk2 \
      --enable-cscope \
      --enable-gui \
      --enable-gtk2-check \
      --with-x \
      --prefix=/usr/local
      make VIMRUNTIMEDIR=/usr/local/share/vim/vim81
      make install
  run_once: true
  become: yes
